#div1 {
	background-color: red;
	border-radius: 50px;
	float: left;
	height: 100px;
	padding: 100px;
	text-align: center;
	width: 150px;
}
#div2 {
	background-color: blue;
	border-radius: 25px;
	color: white;
	height: 100px;
	overflow: hidden;
	padding: 25px;
	text-align: center;
	width: 150px;
}
#div3 {
	background-color: yellow;
	border-radius: 25px;
	color: white;
	height: 100px;
	overflow: hidden;
	padding: 25px;
	text-align: center;
	width: 150px;
}

#div4 {
	background-color: blue;
	border-radius: 50px;
	float: left;
	height: 100px;
	padding: 100px;
	text-align: center;
	width: 150px;
}

#div5 {
	background-color: red;
	border-radius: 25px;
	color: white;
	height: 100px;
	overflow: hidden;
	padding: 25px;
	text-align: center;
	width: 150px;
}
#div6 {
	background-color: black;
	border-radius: 25px;
	color: white;
	height: 100px;
	overflow: hidden;
	padding: 25px;
	text-align: center;
	width: 150px;
}
